<h1> My Reservations </h1>
<% <%= link_to "New Reservations", new_booking_path %> %>
<% <%= link_to "New Reviews", planet_reviews_path(@planet) %> %>
<% <%= link_to "Back", planets_path %> %>



<% 'ensemble des réservations éfféctués présente et passés. %>
