.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #302D60;
    transition: background 0.3s ease;
  }
  
  .btn-cancel {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #D88223;
    transition: background 0.3s ease;
  }
  