.title {
    margin-bottom: 20px;
    text-align: center;
}

.card-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.card-item {
  position: relative;
  margin: 20px;
  width: calc(33.33% - 40px);
  max-width: 300px;
  overflow: hidden;
  text-align: center;
  background-color: #eeedff;
  border-radius: 9px;
  }

.card-item p {
  text-align: left;
  margin-left: 10px;
}

.card-item:hover {
    transform: translateY(-10px);
}

.img-p {
    border-radius: 5px;
    overflow: hidden;
    position:relative;
    z-index: 2;
}

.card-subtitle {
  color: #3C3878;
  font-weight: 700;
  font-size: 18px;
}

.card-title{
    margin: 20px 10 10px;
    font-size: 1.2rem;
    text-decoration: inherit;
    color: inherit;
    text-align: left;
    margin-left: 10px;
}

.card-content {
    font-size: 1rem;
    color: black;
}
.card-price {
  font-size: 20px;
  color: black;
