.title {
    display: flex;
    justify-content: center;
    color: black;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
  }
  
.card-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.125rem;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

.img-p {
    border-radius: 5px;
}

.card-title{
    margin: 20px 0 10px;
    font-size: 1.2rem;
    text-decoration: inherit;
    color: inherit;
}

.card-content {
    font-size: 1rem;
    line-height: 1.25;
}