.navbar-lewagon {
  justify-content: space-between;
  background: #302D60;
  color: #FFFFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: rgb(249, 243, 243);
}


.radius-logo{
  border-radius: 16px;
}
