.navbar-lewagon {
  justify-content: space-between;

  background: #302D60;
  background: #3C3878;
  color: #FFFFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: rgb(249, 243, 243);
}


.radius-logo{
  border-radius: 16px;
}

.astroboy{
  width: 40px;
  position:absolute;
  top: 0;
  right: 0;
  margin-top: 14px;
  margin-right: 300px;
}
