.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  background: #3c3878d7;
  color: #FFFFFF;

}

h2 {
  color: white;
  padding-left: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: rgb(249, 243, 243);
}


.radius-logo{
  border-radius: 16px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-right: 210px;
}

.container-fluid {
  color: white;
}

.astroboy {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 21px;
  margin-right: 25%;
  width: 40px;
}


@media screen and (max-width: 767px) {
  .astroboy {
    margin-right: 5%;
  }
}

@media screen and (max-width: 576px) {
  .astroboy {
    margin-right: 2%;
  }
}
