.scrolling-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.planet-cards {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
}

.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.planet-card:hover {
  transform: translateY(-10px);
}

.planet-size {
  width: 80px;
  height: 80px;
}
