.searchbar {
  display: flex;
  justify-content: center;
}

.planet-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px; /* adjust as needed */
}

.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.planet-size {
  width: 80px;
  height: 80px;
}
