.scrolling-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.planet-cards a {
  color: white;
}

.planet-cards {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  background-color: #3C3878;
  border-radius: 5px;
  border-top: 10px;
}

.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  color: white !important;
}

.planet-card:hover {
  transform: translateY(-10px);
  color: white;
}

.planet-size {
  width: 80px;
  height: 80px;
}
