// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

body {
  background-color: #F1EFF7;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

body {
cursor: url('https://allophysique.com/docs/nsi/mini_projet_spaceinvader/images/ship.png'), auto;
}
